<div class="container">
  <% if @contents.blank? %>
    <div class="alert alert-info" role="alert">
      <%= @i18n.content.list.alert.under_construction %>
    </div>
  <% end %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="../"><%= @i18n.website.subtitle %></a>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @category.title_text %></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-sm-12">
      <% @contents.each.with_index(1) do |content, index| %>
       <div class="media position-relative mb-3">
          <img class="align-self-start img-fluid img-thumbnail mr-3" src="<%= content.video_poster_url %>" width="256" alt="<%= content.title_text %>">
          <div class="media-body">
            <h5 class="mt-0 mb-2"><%= index %>. <%= content.title_text %></h5>
            <p><span><%= content.description_text %></span></p>
            <p><a href="./<%= content.key %>.html" class="btn btn-sm btn-primary stretched-link"><%= @i18n.content.list.show %></a></p>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>
