<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="../">カテゴリ一覧</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @item[:page_title] %></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-sm-12">
      <% @item[:contents].each.with_index(1) do |content, index| %>
       <div class="media position-relative mb-3">
          <img class="align-self-start img-fluid img-thumbnail mr-3" src="<%= content[:video_poster_url] %>" width="256" alt="<%= content[:title] %>">
          <div class="media-body">
            <h5 class="mt-0 mb-2"><%= index %>. <%= content[:title] %></h5>
            <p><span><%= content[:description] %></span></p>
            <p><a href="./<%= content[:key] %>.html" class="btn btn-sm btn-primary stretched-link">閲覧</a></p>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>
